### Students Dropout - Logistic Regression

In [2]:
import pandas as pd

In [3]:
raw_csv_data = pd.read_csv('students_dropout.csv')

In [4]:
raw_csv_data

,Marital Status,Course,Daytime/evening attendance,Previous qualification (grade),Admission grade,Displaced,Tuition fees up to date,Gender,Scholarship holder,Age at enrollment,...,Course_9500,Course_9556,Course_9670,Course_9773,Course_9853,Course_9991,Unemployment rate,Inflation rate,GDP,target
0,1,171,1,122.0,127.3,1,1,1,0,20,...,0,0,0,0,0,0,10.8,1.4,1.74,Dropout
1,1,9254,1,160.0,142.5,1,0,1,0,19,...,0,0,0,0,0,0,13.9,-0.3,0.79,Graduate
2,1,9070,1,122.0,124.8,1,0,1,0,19,...,0,0,0,0,0,0,10.8,1.4,1.74,Dropout
3,1,9773,1,122.0,119.6,1,1,0,0,20,...,0,0,0,1,0,0,9.4,-0.8,-3.12,Graduate
4,2,8014,0,100.0,141.5,0,1,0,0,45,...,0,0,0,0,0,0,13.9,-0.3,0.79,Graduate
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4419,1,9773,1,125.0,122.2,0,1,1,0,19,...,0,0,0,1,0,0,15.5,2.8,-4.06,Graduate
4420,1,9773,1,120.0,119.0,1,0,0,0,18,...,0,0,0,1,0,0,11.1,0.6,2.02,Dropout
4421,1,9500,1,154.0,149.5,1,1,0,1,30,...,1,0,0,0,0,0,13.9,-0.3,0.79,Dropout
4422,1,9147,1,180.0,153.8,1,1,0,1,20,...,0,0,0,0,0,0,9.4,-0.8,-3.12,Graduate
4423,1,9773,1,152.0,152.0,1,1,0,0,22,...,0,0,0,1,0,0,12.7,3.7,-1.70,Graduate

In [43]:
#raw_csv_data = raw_csv_data.drop(['Course'],axis=1)
df = raw_csv_data.copy()
df

,Marital Status,Daytime/evening attendance,Previous qualification (grade),Admission grade,Displaced,Tuition fees up to date,Gender,Scholarship holder,Age at enrollment,Curricular units 1st sem (grade),...,Course_9500,Course_9556,Course_9670,Course_9773,Course_9853,Course_9991,Unemployment rate,Inflation rate,GDP,target
0,1,1,122.0,127.3,1,1,1,0,20,0.000000,...,0,0,0,0,0,0,10.8,1.4,1.74,Dropout
1,1,1,160.0,142.5,1,0,1,0,19,14.000000,...,0,0,0,0,0,0,13.9,-0.3,0.79,Graduate
2,1,1,122.0,124.8,1,0,1,0,19,0.000000,...,0,0,0,0,0,0,10.8,1.4,1.74,Dropout
3,1,1,122.0,119.6,1,1,0,0,20,13.428571,...,0,0,0,1,0,0,9.4,-0.8,-3.12,Graduate
4,2,0,100.0,141.5,0,1,0,0,45,12.333333,...,0,0,0,0,0,0,13.9,-0.3,0.79,Graduate
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4419,1,1,125.0,122.2,0,1,1,0,19,13.600000,...,0,0,0,1,0,0,15.5,2.8,-4.06,Graduate
4420,1,1,120.0,119.0,1,0,0,0,18,12.000000,...,0,0,0,1,0,0,11.1,0.6,2.02,Dropout
4421,1,1,154.0,149.5,1,1,0,1,30,14.912500,...,1,0,0,0,0,0,13.9,-0.3,0.79,Dropout
4422,1,1,180.0,153.8,1,1,0,1,20,13.800000,...,0,0,0,0,0,0,9.4,-0.8,-3.12,Graduate
4423,1,1,152.0,152.0,1,1,0,0,22,11.666667,...,0,0,0,1,0,0,12.7,3.7,-1.70,Graduate

In [45]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4424 entries, 0 to 4423
Data columns (total 31 columns):
 #   Column                            Non-Null Count  Dtype
---  ------                            --------------  -----
 0   Marital Status                    4424 non-null   int64
 1   Daytime/evening attendance        4424 non-null   int64
 2   Previous qualification (grade)    4424 non-null   float64
 3   Admission grade                   4424 non-null   float64
 4   Displaced                         4424 non-null   int64
 5   Tuition fees up to date           4424 non-null   int64
 6   Gender                            4424 non-null   int64
 7   Scholarship holder                4424 non-null   int64
 8   Age at enrollment                 4424 non-null   int64
 9   Curricular units 1st sem (grade)  4424 non-null   float64
 10  Curricular units 2nd sem (grade)  4424 non-null   float64
 11  Course_171                        4424 non-null   int64
 12  Course_8014                       4424 non-null   int64
 13  Course_9003                       4424 non-null   int64
 14  Course_9070                       4424 non-null   int64
 15  Course_9085                       4424 non-null   int64
 16  Course_9119                       4424 non-null   int64
 17  Course_9130                       4424 non-null   int64
 18  Course_9147                       4424 non-null   int64
 19  Course_9238                       4424 non-null   int64
 20  Course_9254                       4424 non-null   int64
 21  Course_9500                       4424 non-null   int64
 22  Course_9556                       4424 non-null   int64
 23  Course_9670                       4424 non-null   int64
 24  Course_9773                       4424 non-null   int64
 25  Course_9853                       4424 non-null   int64
 26  Course_9991                       4424 non-null   int64
 27  Unemployment rate                 4424 non-null   float64
 28  Inflation rate                    4424 non-null   float64
 29  GDP                               4424 non-null   float64
 30  target                            4424 non-null   object
dtypes: float64(7), int64(23), object(1)
memory usage: 1.0+ MB

In [47]:
df.describe()

,Marital Status,Daytime/evening attendance,Previous qualification (grade),Admission grade,Displaced,Tuition fees up to date,Gender,Scholarship holder,Age at enrollment,Curricular units 1st sem (grade),...,Course_9254,Course_9500,Course_9556,Course_9670,Course_9773,Course_9853,Course_9991,Unemployment rate,Inflation rate,GDP
count,4424.000000,4424.000000,4424.000000,4424.000000,4424.000000,4424.000000,4424.000000,4424.000000,4424.000000,4424.000000,...,4424.000000,4424.000000,4424.000000,4424.000000,4424.000000,4424.000000,4424.000000,4424.000000,4424.000000,4424.000000
mean,1.178571,0.890823,132.613314,126.978119,0.548373,0.880651,0.351718,0.248418,23.265145,10.640822,...,0.056962,0.173146,0.019439,0.060579,0.074819,0.043400,0.060579,11.566139,1.228029,0.001969
std,0.605747,0.311897,13.188332,14.482001,0.497711,0.324235,0.477560,0.432144,7.587816,4.843663,...,0.231796,0.378417,0.138079,0.238583,0.263129,0.203778,0.238583,2.663850,1.382711,2.269935
min,1.000000,0.000000,95.000000,95.000000,0.000000,0.000000,0.000000,0.000000,17.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,7.600000,-0.800000,-4.060000
25%,1.000000,1.000000,125.000000,117.900000,0.000000,1.000000,0.000000,0.000000,19.000000,11.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,9.400000,0.300000,-1.700000
50%,1.000000,1.000000,133.100000,126.100000,1.000000,1.000000,0.000000,0.000000,20.000000,12.285714,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,11.100000,1.400000,0.320000
75%,1.000000,1.000000,140.000000,134.800000,1.000000,1.000000,1.000000,0.000000,25.000000,13.400000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,13.900000,2.600000,1.790000
max,6.000000,1.000000,190.000000,190.000000,1.000000,1.000000,1.000000,1.000000,70.000000,18.875000,...,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,16.200000,3.700000,3.510000

### Create the Targets

In [49]:
df['target'].value_counts()

target
Graduate    2209
Dropout     1421
Enrolled     794
Name: count, dtype: int64

In [51]:
df_binary = df[df['target'].isin(['Dropout', 'Graduate'])]

In [53]:
df_binary.info()

<class 'pandas.core.frame.DataFrame'>
Index: 3630 entries, 0 to 4423
Data columns (total 31 columns):
 #   Column                            Non-Null Count  Dtype
---  ------                            --------------  -----
 0   Marital Status                    3630 non-null   int64
 1   Daytime/evening attendance        3630 non-null   int64
 2   Previous qualification (grade)    3630 non-null   float64
 3   Admission grade                   3630 non-null   float64
 4   Displaced                         3630 non-null   int64
 5   Tuition fees up to date           3630 non-null   int64
 6   Gender                            3630 non-null   int64
 7   Scholarship holder                3630 non-null   int64
 8   Age at enrollment                 3630 non-null   int64
 9   Curricular units 1st sem (grade)  3630 non-null   float64
 10  Curricular units 2nd sem (grade)  3630 non-null   float64
 11  Course_171                        3630 non-null   int64
 12  Course_8014                       3630 non-null   int64
 13  Course_9003                       3630 non-null   int64
 14  Course_9070                       3630 non-null   int64
 15  Course_9085                       3630 non-null   int64
 16  Course_9119                       3630 non-null   int64
 17  Course_9130                       3630 non-null   int64
 18  Course_9147                       3630 non-null   int64
 19  Course_9238                       3630 non-null   int64
 20  Course_9254                       3630 non-null   int64
 21  Course_9500                       3630 non-null   int64
 22  Course_9556                       3630 non-null   int64
 23  Course_9670                       3630 non-null   int64
 24  Course_9773                       3630 non-null   int64
 25  Course_9853                       3630 non-null   int64
 26  Course_9991                       3630 non-null   int64
 27  Unemployment rate                 3630 non-null   float64
 28  Inflation rate                    3630 non-null   float64
 29  GDP                               3630 non-null   float64
 30  target                            3630 non-null   object
dtypes: float64(7), int64(23), object(1)
memory usage: 907.5+ KB

In [57]:
df_binary.loc[:, 'target_encoded'] = df_binary['target'].map({'Dropout': 0, 'Graduate': 1})

In [59]:
df_binary

,Marital Status,Daytime/evening attendance,Previous qualification (grade),Admission grade,Displaced,Tuition fees up to date,Gender,Scholarship holder,Age at enrollment,Curricular units 1st sem (grade),...,Course_9556,Course_9670,Course_9773,Course_9853,Course_9991,Unemployment rate,Inflation rate,GDP,target,target_encoded
0,1,1,122.0,127.3,1,1,1,0,20,0.000000,...,0,0,0,0,0,10.8,1.4,1.74,Dropout,0
1,1,1,160.0,142.5,1,0,1,0,19,14.000000,...,0,0,0,0,0,13.9,-0.3,0.79,Graduate,1
2,1,1,122.0,124.8,1,0,1,0,19,0.000000,...,0,0,0,0,0,10.8,1.4,1.74,Dropout,0
3,1,1,122.0,119.6,1,1,0,0,20,13.428571,...,0,0,1,0,0,9.4,-0.8,-3.12,Graduate,1
4,2,0,100.0,141.5,0,1,0,0,45,12.333333,...,0,0,0,0,0,13.9,-0.3,0.79,Graduate,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4419,1,1,125.0,122.2,0,1,1,0,19,13.600000,...,0,0,1,0,0,15.5,2.8,-4.06,Graduate,1
4420,1,1,120.0,119.0,1,0,0,0,18,12.000000,...,0,0,1,0,0,11.1,0.6,2.02,Dropout,0
4421,1,1,154.0,149.5,1,1,0,1,30,14.912500,...,0,0,0,0,0,13.9,-0.3,0.79,Dropout,0
4422,1,1,180.0,153.8,1,1,0,1,20,13.800000,...,0,0,0,0,0,9.4,-0.8,-3.12,Graduate,1
4423,1,1,152.0,152.0,1,1,0,0,22,11.666667,...,0,0,1,0,0,12.7,3.7,-1.70,Graduate,1

In [63]:
df_binary = df_binary.drop(['target'],axis=1)

In [65]:
data_with_targets = df_binary.copy()

In [67]:
data_with_targets.info()

<class 'pandas.core.frame.DataFrame'>
Index: 3630 entries, 0 to 4423
Data columns (total 31 columns):
 #   Column                            Non-Null Count  Dtype
---  ------                            --------------  -----
 0   Marital Status                    3630 non-null   int64
 1   Daytime/evening attendance        3630 non-null   int64
 2   Previous qualification (grade)    3630 non-null   float64
 3   Admission grade                   3630 non-null   float64
 4   Displaced                         3630 non-null   int64
 5   Tuition fees up to date           3630 non-null   int64
 6   Gender                            3630 non-null   int64
 7   Scholarship holder                3630 non-null   int64
 8   Age at enrollment                 3630 non-null   int64
 9   Curricular units 1st sem (grade)  3630 non-null   float64
 10  Curricular units 2nd sem (grade)  3630 non-null   float64
 11  Course_171                        3630 non-null   int64
 12  Course_8014                       3630 non-null   int64
 13  Course_9003                       3630 non-null   int64
 14  Course_9070                       3630 non-null   int64
 15  Course_9085                       3630 non-null   int64
 16  Course_9119                       3630 non-null   int64
 17  Course_9130                       3630 non-null   int64
 18  Course_9147                       3630 non-null   int64
 19  Course_9238                       3630 non-null   int64
 20  Course_9254                       3630 non-null   int64
 21  Course_9500                       3630 non-null   int64
 22  Course_9556                       3630 non-null   int64
 23  Course_9670                       3630 non-null   int64
 24  Course_9773                       3630 non-null   int64
 25  Course_9853                       3630 non-null   int64
 26  Course_9991                       3630 non-null   int64
 27  Unemployment rate                 3630 non-null   float64
 28  Inflation rate                    3630 non-null   float64
 29  GDP                               3630 non-null   float64
 30  target_encoded                    3630 non-null   int64
dtypes: float64(7), int64(24)
memory usage: 1.0 MB

In [89]:
targets = data_with_targets['target_encoded']
targets.shape

(3630,)

### Select the inputs for the regression

In [76]:
inputs = data_with_targets.iloc[:, :30]
inputs

,Marital Status,Daytime/evening attendance,Previous qualification (grade),Admission grade,Displaced,Tuition fees up to date,Gender,Scholarship holder,Age at enrollment,Curricular units 1st sem (grade),...,Course_9254,Course_9500,Course_9556,Course_9670,Course_9773,Course_9853,Course_9991,Unemployment rate,Inflation rate,GDP
0,1,1,122.0,127.3,1,1,1,0,20,0.000000,...,0,0,0,0,0,0,0,10.8,1.4,1.74
1,1,1,160.0,142.5,1,0,1,0,19,14.000000,...,1,0,0,0,0,0,0,13.9,-0.3,0.79
2,1,1,122.0,124.8,1,0,1,0,19,0.000000,...,0,0,0,0,0,0,0,10.8,1.4,1.74
3,1,1,122.0,119.6,1,1,0,0,20,13.428571,...,0,0,0,0,1,0,0,9.4,-0.8,-3.12
4,2,0,100.0,141.5,0,1,0,0,45,12.333333,...,0,0,0,0,0,0,0,13.9,-0.3,0.79
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4419,1,1,125.0,122.2,0,1,1,0,19,13.600000,...,0,0,0,0,1,0,0,15.5,2.8,-4.06
4420,1,1,120.0,119.0,1,0,0,0,18,12.000000,...,0,0,0,0,1,0,0,11.1,0.6,2.02
4421,1,1,154.0,149.5,1,1,0,1,30,14.912500,...,0,1,0,0,0,0,0,13.9,-0.3,0.79
4422,1,1,180.0,153.8,1,1,0,1,20,13.800000,...,0,0,0,0,0,0,0,9.4,-0.8,-3.12
4423,1,1,152.0,152.0,1,1,0,0,22,11.666667,...,0,0,0,0,1,0,0,12.7,3.7,-1.70

In [78]:
unscaled_inputs = inputs.copy()

### Standardize the inputs

In [81]:
from sklearn.preprocessing import StandardScaler

scaler = StandardScaler()

In [83]:
scaler.fit(unscaled_inputs)

StandardScaler()

In [85]:
scaled_inputs = scaler.transform(unscaled_inputs)

In [87]:
scaled_inputs

array([[-0.30068558,  0.35585028, -0.82503423, ..., -0.31131218,
         0.12161459,  0.77411864],
       [-0.30068558,  0.35585028,  2.04580467, ...,  0.85091858,
        -1.10607007,  0.35370412],
       [-0.30068558,  0.35585028, -0.82503423, ..., -0.31131218,
         0.12161459,  0.77411864],
       ...,
       [-0.30068558,  0.35585028,  1.59251432, ...,  0.85091858,
        -1.10607007,  0.35370412],
       [-0.30068558,  0.35585028,  3.55677252, ..., -0.83619059,
        -1.46715379, -1.37663355],
       [-0.30068558,  0.35585028,  1.44141754, ...,  0.4010228 ,
         1.78259971, -0.74822447]])

In [91]:
scaled_inputs.shape

(3630, 30)

In [93]:
targets.shape

(3630,)

### Split the data into train and test and shuffle

In [96]:
from sklearn.model_selection import train_test_split

### Split

In [101]:
x_train, x_test, y_train, y_test  = train_test_split(scaled_inputs, targets, train_size=0.8, random_state=42)

In [103]:
print(x_train.shape, y_train.shape)

(2904, 30) (2904,)

In [105]:
print(x_test.shape, y_test.shape)

(726, 30) (726,)

### Logistic Regression with Sklearn

In [123]:
from sklearn.linear_model import LogisticRegression
from sklearn import metrics
import numpy as np

In [110]:
reg = LogisticRegression()

In [112]:
reg.fit(x_train, y_train)

LogisticRegression()

In [114]:
reg.score(x_train, y_train)

0.8794765840220385

### Manually check the accuracy

In [117]:
model_outputs = reg.predict(x_train) # testing the model with the training data
model_outputs

array([0, 0, 1, ..., 1, 1, 1])

In [119]:
model_outputs == y_train

1116    True
4372    True
4371    True
2869    True
1638    True
        ...
1359    True
1559    True
1037    True
4278    True
3867    True
Name: target_encoded, Length: 2904, dtype: bool

In [125]:
np.sum(model_outputs == y_train)

2554

In [127]:
model_outputs.shape[0]

2904

In [131]:
np.sum(model_outputs == y_train) / model_outputs.shape[0]

0.8794765840220385

### Finding Intercepts and Coefficients

In [134]:
reg.intercept_

array([-0.13555213])

In [136]:
reg.coef_

array([[ 0.15546602, -0.18135846, -0.07696914,  0.13893701, -0.05051584,
         1.14920262, -0.21933217,  0.48118255, -0.4235442 ,  1.14297689,
         2.29103513,  1.58819411,  0.26739621,  0.21356389,  0.19931737,
         0.12376359, -0.35523188, -0.14973073,  0.14132723,  0.44408894,
         0.10930981,  0.41712576,  0.07458799,  0.11278665,  0.12026726,
        -0.1680147 , -0.01213811, -0.08261922,  0.01686743,  0.01944766]])

In [144]:
unscaled_inputs.columns.values # using scaled inputs will give you an error because it is a numpy array

array(['Marital Status', 'Daytime/evening attendance',
       'Previous qualification (grade)', 'Admission grade', 'Displaced',
       'Tuition fees up to date', 'Gender', 'Scholarship holder',
       'Age at enrollment', 'Curricular units 1st sem (grade)',
       'Curricular units 2nd sem (grade)', 'Course_171', 'Course_8014',
       'Course_9003', 'Course_9070', 'Course_9085', 'Course_9119',
       'Course_9130', 'Course_9147', 'Course_9238', 'Course_9254',
       'Course_9500', 'Course_9556', 'Course_9670', 'Course_9773',
       'Course_9853', 'Course_9991', 'Unemployment rate',
       'Inflation rate', 'GDP'], dtype=object)

In [146]:
feature_names = unscaled_inputs.columns.values

In [148]:
summary_table = pd.DataFrame(columns=['Feature_name'], data=feature_names)

summary_table['Coefficient'] = np.transpose(reg.coef_)

summary_table

                        Feature_name  Coefficient
0                     Marital Status     0.155466
1         Daytime/evening attendance    -0.181358
2     Previous qualification (grade)    -0.076969
3                    Admission grade     0.138937
4                          Displaced    -0.050516
5            Tuition fees up to date     1.149203
6                             Gender    -0.219332
7                 Scholarship holder     0.481183
8                  Age at enrollment    -0.423544
9   Curricular units 1st sem (grade)     1.142977
10  Curricular units 2nd sem (grade)     2.291035
11                        Course_171     1.588194
12                       Course_8014     0.267396
13                       Course_9003     0.213564
14                       Course_9070     0.199317
15                       Course_9085     0.123764
16                       Course_9119    -0.355232
17                       Course_9130    -0.149731
18                       Course_9147     0.141327
19                       Course_9238     0.444089
20                       Course_9254     0.109310
21                       Course_9500     0.417126
22                       Course_9556     0.074588
23                       Course_9670     0.112787
24                       Course_9773     0.120267
25                       Course_9853    -0.168015
26                       Course_9991    -0.012138
27                 Unemployment rate    -0.082619
28                    Inflation rate     0.016867
29                               GDP     0.019448

In [150]:
summary_table.index = summary_table.index+1
summary_table.loc[0] = ['Intercept', reg.intercept_[0]]
summary_table = summary_table.sort_index()
summary_table

                        Feature_name  Coefficient
0                          Intercept    -0.135552
1                     Marital Status     0.155466
2         Daytime/evening attendance    -0.181358
3     Previous qualification (grade)    -0.076969
4                    Admission grade     0.138937
5                          Displaced    -0.050516
6            Tuition fees up to date     1.149203
7                             Gender    -0.219332
8                 Scholarship holder     0.481183
9                  Age at enrollment    -0.423544
10  Curricular units 1st sem (grade)     1.142977
11  Curricular units 2nd sem (grade)     2.291035
12                        Course_171     1.588194
13                       Course_8014     0.267396
14                       Course_9003     0.213564
15                       Course_9070     0.199317
16                       Course_9085     0.123764
17                       Course_9119    -0.355232
18                       Course_9130    -0.149731
19                       Course_9147     0.141327
20                       Course_9238     0.444089
21                       Course_9254     0.109310
22                       Course_9500     0.417126
23                       Course_9556     0.074588
24                       Course_9670     0.112787
25                       Course_9773     0.120267
26                       Course_9853    -0.168015
27                       Course_9991    -0.012138
28                 Unemployment rate    -0.082619
29                    Inflation rate     0.016867
30                               GDP     0.019448

### Testing the model

In [153]:
# Assess the test accuracy of the model
reg.score(x_test, y_test)

0.8622589531680441

In [155]:
# find the predicted probability of each class
predicted_proba = reg.predict_proba(x_test)

predicted_proba

array([[4.53047361e-01, 5.46952639e-01],
       [8.79927007e-01, 1.20072993e-01],
       [9.78058867e-01, 2.19411331e-02],
       ...,
       [1.44016092e-01, 8.55983908e-01],
       [1.05289741e-01, 8.94710259e-01],
       [9.99564106e-01, 4.35894232e-04]])

In [157]:
predicted_proba.shape

(726, 2)

In [159]:
# Select on probabilities referring to 1
predicted_proba[:, 1]

array([5.46952639e-01, 1.20072993e-01, 2.19411331e-02, 9.72365823e-01,
       2.85627261e-04, 8.30144007e-01, 6.56076791e-01, 8.74672515e-01,
       5.79553068e-01, 3.21621740e-04, 6.15816730e-01, 9.64051312e-01,
       7.42676803e-01, 9.96293692e-01, 8.53644524e-01, 3.12721354e-02,
       4.01841428e-01, 7.60586170e-04, 9.17661850e-01, 8.44570853e-01,
       8.79241564e-01, 9.27615310e-02, 8.85467431e-01, 8.70329874e-01,
       2.18713778e-05, 2.25345608e-02, 9.52244310e-01, 8.23829054e-01,
       9.60974013e-01, 1.92892707e-03, 6.47467108e-04, 5.47864366e-01,
       9.12285371e-01, 7.82281950e-01, 5.40142334e-01, 8.82384926e-01,
       2.02346684e-05, 3.95019741e-02, 5.89984928e-02, 7.68045328e-01,
       5.06007069e-04, 9.49174192e-01, 2.03180311e-01, 1.53518129e-01,
       2.84148934e-05, 9.19232012e-01, 1.46191281e-04, 8.51971993e-01,
       9.66866947e-01, 7.27484750e-01, 9.89298070e-04, 8.81594812e-01,
       6.63854435e-01, 6.29637677e-01, 6.00724437e-02, 8.83482333e-01,
       7.91397476e-03, 3.35580380e-01, 7.19442328e-01, 2.01896234e-03,
       3.06907543e-02, 8.41851070e-01, 9.52214873e-01, 9.60100342e-01,
       9.45119732e-01, 5.61893626e-01, 2.97668427e-01, 8.22379248e-01,
       4.53144479e-01, 6.00643753e-02, 4.51376513e-01, 9.69451890e-01,
       4.55376658e-01, 2.10665357e-02, 9.82705562e-01, 8.09765545e-01,
       7.67601733e-01, 9.29193052e-01, 9.20848317e-01, 2.02131591e-02,
       4.44372965e-04, 8.02838128e-01, 8.53978066e-01, 9.34447541e-01,
       8.56732797e-01, 9.59494489e-01, 8.57697815e-01, 2.64364183e-05,
       7.44893751e-01, 7.19620946e-01, 9.05432492e-01, 9.86829326e-01,
       3.48696749e-04, 2.68091339e-05, 8.45682403e-01, 9.64251952e-01,
       2.22840533e-04, 9.61208899e-01, 4.91161369e-01, 6.78365791e-01,
       8.58909990e-01, 8.68798294e-01, 2.97038558e-01, 3.22176590e-03,
       9.89415157e-01, 8.78884838e-01, 9.70071012e-01, 9.67662259e-01,
       8.26136980e-04, 8.01784096e-01, 6.36887784e-01, 7.93245323e-01,
       9.11934601e-01, 9.99117891e-05, 1.86200501e-03, 5.70791690e-01,
       1.79727092e-01, 8.47685358e-01, 9.57298467e-01, 2.42944817e-03,
       7.43730001e-01, 8.94133160e-01, 9.27267617e-01, 8.05417749e-04,
       9.98976592e-01, 5.85812503e-01, 5.39588938e-01, 9.84078671e-01,
       9.70366026e-01, 3.01191204e-01, 8.27022062e-02, 8.59626854e-03,
       8.29239701e-01, 9.39456977e-01, 7.23967312e-01, 9.47856882e-01,
       9.42002636e-01, 8.08421099e-01, 9.25259323e-01, 2.47487658e-05,
       9.54871130e-01, 9.11077559e-01, 9.78381224e-01, 3.65569435e-02,
       9.21128240e-01, 5.08955395e-05, 4.88643535e-03, 9.93415449e-03,
       9.79806606e-01, 6.40566845e-04, 8.34455509e-01, 2.58826110e-02,
       1.06535521e-02, 8.47157538e-01, 2.16452870e-01, 7.39375591e-01,
       9.72325289e-01, 3.90726327e-05, 6.83468846e-01, 6.40087986e-04,
       9.25913674e-01, 6.87199398e-01, 7.63964776e-04, 4.55325807e-04,
       9.79422663e-01, 9.53883442e-01, 7.64779358e-01, 2.64158409e-01,
       1.16893199e-03, 9.13355399e-01, 9.55904340e-01, 7.96430534e-01,
       9.50131780e-01, 9.67984946e-01, 6.80072534e-01, 7.30210694e-01,
       8.85339573e-01, 3.86331783e-04, 9.89833017e-01, 9.35382679e-01,
       7.20847846e-01, 3.67184725e-01, 7.25487843e-01, 2.41559110e-01,
       9.41164729e-01, 2.65629202e-02, 7.04364705e-01, 9.33296495e-01,
       6.92495478e-01, 4.89234299e-01, 9.82222271e-01, 6.95995852e-01,
       1.92176761e-06, 7.36214144e-01, 9.76228936e-01, 5.49199268e-01,
       6.49666333e-01, 9.58199730e-01, 1.98537848e-05, 3.47917006e-01,
       8.53712218e-01, 6.10086055e-01, 1.34930108e-01, 9.46184195e-01,
       6.44749398e-01, 8.10732620e-02, 4.29691300e-05, 2.88023048e-02,
       9.22015379e-01, 4.02986853e-03, 9.18237445e-01, 9.83476656e-01,
       9.65737385e-01, 9.80666191e-01, 8.32073076e-01, 7.24506663e-01,
       8.12166246e-01, 3.80033029e-01, 1.38729545e-03, 7.89395911e-01,
       9.73407378e-01, 9.71620536e-01, 6.88581083e-01, 9.69429116e-01,
       3.57498331e-01, 9.89725567e-01, 8.29563281e-01, 8.93185509e-01,
       7.87616514e-01, 9.53566804e-01, 2.76806113e-03, 9.40337385e-01,
       6.32883331e-01, 8.33121233e-01, 3.67676964e-01, 9.78433509e-01,
       5.86574797e-03, 6.73535453e-04, 4.78171426e-05, 8.32530851e-01,
       9.53247687e-01, 9.22006255e-01, 5.53625580e-01, 4.80124035e-01,
       8.03066645e-01, 9.83548771e-01, 4.30450748e-01, 8.43560496e-01,
       4.10328706e-01, 4.87267374e-01, 9.13027324e-01, 6.50378404e-01,
       5.54150456e-01, 8.70938496e-01, 1.02803148e-03, 8.76903161e-01,
       8.86963528e-01, 5.79522682e-01, 9.01373650e-01, 9.51628741e-01,
       8.53573847e-06, 8.20650434e-01, 8.68172852e-01, 5.64219002e-01,
       5.41464580e-01, 7.35312375e-01, 9.03599172e-01, 7.66104426e-01,
       8.81280219e-01, 8.63445061e-01, 5.50251960e-01, 8.86630509e-01,
       9.05315237e-01, 6.03143200e-01, 9.11099560e-01, 3.15507584e-02,
       9.34634253e-01, 3.21925854e-01, 7.85513437e-01, 8.20169894e-05,
       9.55645606e-01, 8.71545370e-01, 9.17594639e-01, 2.80736063e-02,
       8.67933080e-01, 6.39459521e-02, 9.01068880e-01, 6.61926227e-01,
       1.98418560e-01, 8.33405306e-01, 8.14247297e-01, 9.45560122e-01,
       8.36162474e-01, 9.71785971e-01, 9.72629844e-01, 8.88053150e-01,
       8.57773867e-02, 3.26749727e-03, 9.06818018e-01, 9.80836265e-01,
       9.50579588e-01, 8.67739773e-01, 9.07767776e-01, 9.48873858e-01,
       8.75935834e-01, 7.16058212e-06, 6.64137508e-01, 8.74118125e-01,
       1.99202817e-02, 2.67544101e-04, 9.78712361e-01, 9.80617012e-01,
       9.67457931e-01, 2.53029513e-06, 8.58743399e-01, 3.30439848e-01,
       9.61773919e-01, 7.79154710e-01, 6.57368590e-01, 8.88717665e-01,
       9.42378373e-01, 9.61149035e-01, 2.13649302e-02, 5.30273343e-01,
       2.00587122e-03, 6.41485281e-01, 9.90221121e-01, 8.24807403e-01,
       7.15295643e-06, 9.71978030e-01, 1.94879196e-03, 9.55875148e-01,
       9.27116652e-01, 6.45442738e-01, 8.74267655e-01, 1.66591898e-04,
       9.68832426e-01, 4.02584384e-01, 1.53436209e-05, 8.37047475e-01,
       8.63593085e-01, 9.36151360e-01, 5.71935038e-05, 4.34471559e-02,
       8.71257077e-01, 7.09564569e-01, 8.91781149e-01, 1.50433699e-02,
       1.13203661e-03, 4.69045823e-01, 8.89929941e-01, 3.13579260e-02,
       9.69007880e-01, 2.59774871e-02, 9.25490479e-01, 7.55657495e-04,
       1.44960730e-02, 9.72302469e-01, 8.46318872e-01, 9.68760526e-01,
       9.16120823e-01, 9.03226764e-01, 8.98354973e-01, 2.35726071e-03,
       9.09442273e-01, 2.23403677e-01, 1.16810196e-03, 7.92848834e-01,
       6.30985060e-01, 8.01934645e-01, 9.81314724e-01, 9.06330450e-01,
       6.44827127e-01, 9.73706330e-01, 9.29642435e-01, 9.89331676e-01,
       8.72358669e-01, 1.10037297e-01, 9.83602488e-01, 5.37911995e-01,
       5.92095482e-01, 9.60376682e-01, 1.15395567e-03, 9.21041025e-01,
       2.27333746e-03, 9.20671663e-01, 5.84430461e-04, 5.74778237e-01,
       9.49116108e-01, 1.04491476e-03, 9.83589317e-01, 8.33950840e-01,
       2.28188548e-03, 9.79183228e-02, 9.36666348e-01, 4.49917153e-01,
       7.17260114e-06, 3.36754566e-01, 9.97214023e-02, 9.30011810e-01,
       9.23051030e-01, 9.36184245e-01, 9.67969638e-01, 1.18003860e-02,
       8.34606040e-01, 8.98204801e-01, 7.96159500e-01, 9.70049019e-01,
       6.71500560e-01, 4.97453358e-01, 8.79161388e-01, 9.36642627e-01,
       9.21421468e-01, 1.76675765e-01, 9.47662252e-01, 7.38269776e-04,
       9.81290266e-01, 3.55267756e-05, 3.90171074e-01, 3.76563416e-01,
       9.20684425e-02, 6.29599258e-01, 9.28920993e-01, 9.93761783e-01,
       5.94643753e-01, 6.05372844e-04, 8.31568441e-01, 6.56939975e-01,
       9.42241916e-01, 7.50140538e-01, 8.45002156e-01, 8.23733917e-01,
       9.64975338e-01, 8.37509641e-01, 9.40551442e-01, 7.59356514e-01,
       6.71276413e-02, 4.41519281e-05, 9.79448303e-04, 9.99780225e-01,
       8.15865225e-01, 9.69953586e-01, 9.37398383e-01, 6.95942672e-01,
       9.69242661e-01, 8.86420355e-01, 1.39057934e-05, 9.16635060e-01,
       7.94921304e-01, 7.33484319e-01, 9.57980788e-01, 6.48584433e-01,
       9.56740194e-01, 1.23637975e-02, 3.46338482e-03, 3.47754974e-05,
       7.23424261e-01, 8.92787595e-01, 5.38330742e-01, 3.89488679e-01,
       2.46548748e-05, 9.62815322e-01, 7.66610396e-02, 8.27577408e-01,
       7.01981639e-01, 9.99665985e-01, 5.16379306e-05, 7.61282693e-01,
       1.16568918e-03, 6.37989044e-01, 6.23947411e-01, 7.24187483e-02,
       5.52101203e-04, 9.31261965e-01, 8.70459963e-01, 5.99917653e-01,
       8.48101687e-01, 9.13777420e-01, 9.04605909e-01, 8.99560019e-01,
       9.89839533e-01, 9.44691530e-01, 9.33709400e-01, 8.79020751e-01,
       9.21552117e-01, 4.63411354e-01, 9.58661188e-01, 8.84508648e-01,
       8.56510629e-01, 9.27443819e-01, 9.28632199e-01, 3.52681637e-01,
       1.18727091e-03, 3.32431503e-01, 9.69748685e-01, 9.53439122e-01,
       9.86623893e-01, 4.74584625e-04, 3.74715104e-01, 6.37544768e-01,
       9.49775723e-01, 9.76956558e-01, 6.19012026e-01, 9.48756499e-01,
       9.07665633e-01, 5.95012553e-01, 9.95689992e-01, 9.87510212e-01,
       1.11476598e-01, 8.77852020e-02, 9.83404977e-01, 3.63368207e-01,
       9.59770072e-01, 9.90583578e-01, 6.05247378e-01, 1.69777651e-03,
       7.84089500e-01, 7.51697654e-01, 9.79252937e-01, 9.47483457e-01,
       9.71970347e-01, 9.94786032e-01, 6.90433225e-01, 8.68286770e-01,
       4.58053712e-01, 1.55684342e-01, 9.70659597e-01, 8.58704047e-01,
       2.87871746e-01, 8.60614023e-01, 9.94693434e-01, 6.58491365e-01,
       5.84090965e-03, 9.13405447e-01, 6.67938019e-01, 4.96919798e-02,
       9.10806042e-01, 9.82819509e-01, 9.72841280e-01, 9.53364926e-01,
       9.80769477e-01, 8.50760358e-04, 9.65072557e-01, 7.58770648e-01,
       9.74766859e-01, 5.96980250e-01, 9.60474196e-01, 2.77943200e-02,
       7.32026781e-01, 1.20337736e-06, 5.44187048e-05, 8.23827546e-01,
       9.08319957e-01, 8.67247101e-01, 7.60773115e-01, 3.98513157e-03,
       9.71692238e-04, 9.29120522e-01, 9.85316417e-01, 7.97244190e-01,
       1.09442675e-03, 9.72387843e-01, 9.71588599e-01, 4.82568839e-01,
       4.92652439e-01, 9.64347348e-01, 9.93619640e-01, 3.70361438e-01,
       7.19654783e-03, 7.73584612e-02, 9.30486875e-01, 8.73219730e-01,
       9.99484386e-01, 2.03989466e-03, 6.67926651e-01, 9.73800477e-01,
       9.99976250e-01, 1.13127303e-01, 9.91275267e-05, 9.31482155e-01,
       6.98539884e-01, 4.34253186e-01, 9.67086221e-01, 6.03830607e-01,
       9.57320253e-01, 9.45409615e-01, 9.78611133e-01, 9.91453605e-01,
       9.78322376e-01, 9.38314392e-01, 9.61900424e-01, 9.52839388e-01,
       9.80636226e-01, 7.48380539e-01, 9.14630901e-01, 8.47715425e-01,
       6.37364294e-01, 8.35244385e-01, 9.34206177e-01, 9.72693773e-04,
       7.84461493e-01, 8.66516358e-01, 7.34165357e-01, 4.70308936e-03,
       7.59189253e-01, 2.04462889e-02, 4.58230281e-03, 7.93422826e-01,
       6.07366233e-01, 9.21634471e-01, 8.52281869e-01, 9.81004363e-01,
       5.78701077e-01, 4.68417956e-05, 8.03491529e-01, 9.29294358e-01,
       9.17297039e-01, 4.31918690e-02, 4.33900775e-01, 9.73852798e-01,
       9.84181919e-01, 9.74726802e-04, 9.65045072e-01, 7.24982694e-01,
       9.94365161e-01, 9.56998954e-01, 8.83578299e-01, 5.05192643e-01,
       1.44942455e-03, 9.20487850e-01, 3.11742903e-01, 9.45573309e-01,
       9.35554540e-01, 8.67157140e-01, 9.20008128e-01, 8.97131141e-01,
       6.42249095e-01, 2.22262590e-02, 9.44431212e-01, 7.33927174e-06,
       8.27226683e-01, 8.06914468e-01, 8.95842979e-02, 9.18543575e-01,
       6.32914931e-01, 9.99890366e-01, 8.26605513e-01, 3.40901200e-05,
       9.50809742e-01, 2.33898474e-01, 6.38201422e-01, 9.43018385e-01,
       1.14744844e-02, 6.93701927e-01, 4.43252332e-01, 1.88156083e-03,
       2.49009205e-01, 6.73073488e-01, 5.25295156e-01, 9.48754205e-01,
       7.48333306e-01, 9.67453196e-01, 5.76325118e-01, 9.05180481e-01,
       9.66863016e-01, 6.41315264e-01, 9.54918185e-01, 9.25353855e-01,
       8.95761158e-01, 8.65526243e-06, 5.03388563e-01, 4.62932324e-04,
       1.24520696e-03, 9.60057390e-01, 1.78929233e-05, 4.98505849e-01,
       1.96944821e-03, 8.45388024e-01, 9.47592554e-01, 6.99636055e-01,
       9.64509198e-01, 8.57096702e-01, 1.38300717e-02, 7.58688083e-01,
       2.79113511e-02, 8.19181141e-01, 7.80635865e-01, 9.64948664e-01,
       4.85106311e-01, 9.39585654e-01, 4.80417256e-01, 9.61795121e-01,
       9.69129350e-01, 3.97004411e-01, 1.03914187e-03, 6.14721199e-02,
       9.89058323e-01, 8.49559449e-01, 8.31335069e-01, 5.92036420e-01,
       2.10743732e-05, 9.09327682e-01, 9.51252759e-01, 9.68414217e-01,
       1.16413505e-03, 9.78309234e-01, 9.78621844e-01, 9.78206415e-01,
       9.69697239e-01, 2.33554696e-02, 9.21527811e-01, 8.11574607e-01,
       9.27431296e-01, 3.27508331e-01, 1.98849917e-05, 8.41733190e-01,
       7.85735471e-01, 9.30689873e-01, 9.85673172e-01, 8.39363414e-01,
       9.57767800e-01, 9.79069894e-01, 7.64400361e-01, 8.55983908e-01,
       8.94710259e-01, 4.35894232e-04])

### Save the model

In [162]:
# import the relevant model
import pickle

In [164]:
# pickle the model
with open('student_dropout_model', 'wb') as file:
    pickle.dump(reg,file)

In [166]:
# pickle the scaler file
with open('student_dropout_scaler', 'wb') as file:
    pickle.dump(scaler,file)

In [168]:
y_pred = reg.predict(x_test)

In [170]:
y_probs = reg.predict_proba(x_test)

In [172]:
inputs

,Marital Status,Daytime/evening attendance,Previous qualification (grade),Admission grade,Displaced,Tuition fees up to date,Gender,Scholarship holder,Age at enrollment,Curricular units 1st sem (grade),...,Course_9254,Course_9500,Course_9556,Course_9670,Course_9773,Course_9853,Course_9991,Unemployment rate,Inflation rate,GDP
0,1,1,122.0,127.3,1,1,1,0,20,0.000000,...,0,0,0,0,0,0,0,10.8,1.4,1.74
1,1,1,160.0,142.5,1,0,1,0,19,14.000000,...,1,0,0,0,0,0,0,13.9,-0.3,0.79
2,1,1,122.0,124.8,1,0,1,0,19,0.000000,...,0,0,0,0,0,0,0,10.8,1.4,1.74
3,1,1,122.0,119.6,1,1,0,0,20,13.428571,...,0,0,0,0,1,0,0,9.4,-0.8,-3.12
4,2,0,100.0,141.5,0,1,0,0,45,12.333333,...,0,0,0,0,0,0,0,13.9,-0.3,0.79
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4419,1,1,125.0,122.2,0,1,1,0,19,13.600000,...,0,0,0,0,1,0,0,15.5,2.8,-4.06
4420,1,1,120.0,119.0,1,0,0,0,18,12.000000,...,0,0,0,0,1,0,0,11.1,0.6,2.02
4421,1,1,154.0,149.5,1,1,0,1,30,14.912500,...,0,1,0,0,0,0,0,13.9,-0.3,0.79
4422,1,1,180.0,153.8,1,1,0,1,20,13.800000,...,0,0,0,0,0,0,0,9.4,-0.8,-3.12
4423,1,1,152.0,152.0,1,1,0,0,22,11.666667,...,0,0,0,0,1,0,0,12.7,3.7,-1.70

### Add predicted values to test data

In [175]:
x_unscaled_train, x_unscaled_test, y_unscaled_train, y_unscaled_test  = train_test_split(inputs, targets, train_size=0.8, random_state=42)

In [177]:
x_unscaled_test['predicted_label'] = y_pred
x_unscaled_test['predicted_probability'] = y_probs[:, 1]

In [179]:
x_unscaled_test

,Marital Status,Daytime/evening attendance,Previous qualification (grade),Admission grade,Displaced,Tuition fees up to date,Gender,Scholarship holder,Age at enrollment,Curricular units 1st sem (grade),...,Course_9556,Course_9670,Course_9773,Course_9853,Course_9991,Unemployment rate,Inflation rate,GDP,predicted_label,predicted_probability
847,1,1,118.0,122.2,0,1,0,0,19,10.666667,...,0,0,0,0,0,11.1,0.6,2.02,1,0.546953
3927,1,1,130.0,122.3,1,0,0,0,18,14.142857,...,0,0,1,0,0,13.9,-0.3,0.79,0,0.120073
524,1,1,180.0,183.5,1,1,0,0,18,12.000000,...,1,0,0,0,0,16.2,0.3,-0.92,0,0.021941
223,1,1,127.0,150.0,0,1,0,1,19,13.850000,...,0,0,0,0,0,11.1,0.6,2.02,1,0.972366
3198,1,1,110.0,110.0,0,1,1,0,35,0.000000,...,0,0,0,0,0,16.2,0.3,-0.92,0,0.000286
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1669,1,0,136.0,132.5,0,1,0,1,22,12.750000,...,0,0,0,0,0,13.9,-0.3,0.79,1,0.979070
3377,1,1,113.0,112.3,0,1,0,1,20,12.142857,...,0,0,0,1,0,11.1,0.6,2.02,1,0.764400
3634,1,1,157.0,142.3,0,1,0,0,18,12.750000,...,0,0,0,0,0,7.6,2.6,0.32,1,0.855984
3038,1,1,122.0,126.6,1,1,0,0,18,12.833333,...,0,0,1,0,0,8.9,1.4,3.51,1,0.894710
2836,2,0,110.0,114.6,1,1,0,0,46,0.000000,...,0,0,0,0,1,7.6,2.6,0.32,0,0.000436

In [181]:
input_plus_predictions = x_unscaled_test.copy()

In [183]:
input_plus_predictions.to_csv('student_dropout_predictions.csv', index=False)